## Exercise 2: Create markdown cell with title of the notebook
Data Science Tools and Ecosystem

Exercise 3: In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 10: Objectives**
- Python
- R
- Java
- Julia
- C++

Exercise 4: Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++

Exercise 5: Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Panda
3. Scikit

# Exercise 6: Create a markdown cell with a table of Data Science tools
| Data Science Tools |
--------------------
| MySQL |
| ApacheAirflow |
| PixieDust |

### Exercise 7 - Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Exercise 8: This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Exercise 11: Author
Eranna S